{% extends 'base.html' %}
{% load static %}

{% block title %}Transfer Credit | Credit Managment App{% endblock title %}
{% block transferactive %}active{% endblock transferactive %}

{% block style %}
<style>
    @media only screen and (min-width: 768px)   {
        .table {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>
{% endblock style %}

{% block body %}
<div class="container my-3">
    <h1 class="text-center">User List</h1>
    <p class="text-center">Tip: Choose a Sender from the list</p>
    <div class="container my-3 mt-3 userlist">
        <table class="table my-5 mb-5 pb-5">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Credit</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td><a href="/user/{{user.name}}">{{user.name}}</a></td>
                    <td>{{user.current_credit}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}